/* I used some BEM in this code a some ITCSS and some practices of OOCSS */
/* Defaults styles */
* {
  box-sizing: border-box; }

body {
  font-family: arial; }

/* Elements style */
ul {
  padding: 0; }

/* Some generic styles */
.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.center {
  margin: 0 auto; }

.center-flex {
  justify-content: center; }

.distance {
  margin-top: 30px; }

.flex-items-distance {
  margin: 5px; }

.these-gray-paragraphs {
  color: #afafaf;
  font-family: 'Raleway', sans-serif; }

/* Specific Styles */
.wrapper {
  border: 1px solid black;
  width: 950px;
  padding: 5px; }

/* Nav Bar */
.nav-top {
  display: flex;
  justify-content: space-around; }

.nav-top__logo {
  width: 80px;
  height: 50px; }

.nav__list {
  display: inline-block;
  list-style-type: none;
  font-size: 15px;
  margin: 5px; }

/* The nikeid */
.promotion {
  display: flex; }

.promotion__shoes {
  width: 800px;
  height: 500px; }

/* I created a single div to this paragraph to divide the page better */
.mega-sale {
  text-align: center; }

.mega-sale__paragraph {
  letter-spacing: 15px; }

/* 3 shoes */
.shoes-container {
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  width: 600px; }

.shoes-container__blue-and-pink-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 390px;
  margin: 5px;
  padding: 0; }

.gray-and-yellow-container__blue {
  border: 1px solid black;
  width: 255px;
  height: 159px;
  margin: 10px 5px 5px 10px; }

.gray-and-yellow-container__pink {
  border: 1px solid black;
  width: 255px;
  height: 159px;
  margin: 20px 5px 5px 10px; }

.shoes-container__white-shoe-container {
  display: flex;
  flex-grow: 1;
  height: 390px;
  margin: 5px;
  padding: 10px; }

.white-shoe-container__white {
  border: 1px solid black; }

/* Info about how they works */
.services {
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 130px;
  padding: 10px; }

.services__worldwide {
  border-right: 1px solid gray;
  flex-grow: 1;
  width: 196px; }

.services__premium {
  border-right: 1px solid gray;
  flex-grow: 1;
  width: 196px; }

.services__return {
  flex-grow: 1;
  width: 180px; }

.icons {
  color: #4286f4;
  font-size: 20px; }

.services__desc {
  color: #4286f4; }

/* Nike Air Flyknit */
.main-shoe-container {
  background: url("../imgs/cold-mauntains.jpg");
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  height: 300px; }

.main-shoe-container__desc {
  flex-grow: 1;
  padding-top: 50px;
  text-align: center; }

.desc__header {
  color: white; }

.desc__text {
  color: white; }

.desc__button {
  color: white;
  border: 1px solid white;
  background: transparent;
  height: 40px;
  width: 150px;
  padding: 10px;
  transition: color 0.5s, background 0.5s;
  /* Cool no? */ }
  .desc__button:hover {
    color: #566987;
    background: white; }

/* I put relative display to make is son use position absolute,
 to inherit this relative display, to move without destroying the code,
 and still being relative to is father, not the body :) */
.main-shoe-container__shoe {
  position: relative;
  flex-grow: 4; }

.shoe__nike-air-max {
  border: 1px solid black;
  border-radius: 10%;
  position: absolute;
  top: 70px;
  width: 400px; }

/* Like the mega sale */
.items-available {
  margin-top: 120px;
  text-align: center; }

.items-available__paragraph {
  letter-spacing: 10px; }

/* shop */
.available-shoes {
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  display: flex;
  height: 450px;
  width: 890px; }

.available-shoes__featured-shoe {
  position: relative; }

.featured-shoe__transparent-nike-shoe {
  height: 450px;
  width: 285px; }

.featured-shoe__text {
  color: #ffe711;
  position: absolute;
  top: 10px;
  left: 10px; }

.available-shoes__in-sale {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 5; }

.in-sale__shoes {
  background: #f7f5f2;
  border-left: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  padding: 15px;
  width: 201px;
  height: 224px; }

.shoes__shoe {
  width: 150px;
  height: 150px; }

.shoes__paragraph {
  font-size: 10px; }

.view-products {
  text-align: center; }

.view-products__paragraph {
  border-bottom: 1px solid #fff;
  letter-spacing: 15px;
  transition: border-color 0.5s;
  width: 330px; }
  .view-products__paragraph:hover {
    border-color: #afafaf; }

.social-media-location {
  background: #ffaa;
  display: flex;
  height: 500px;
  justify-content: space-around; }

.social-media-location__items {
  width: 400px;
  height: 400px; }

.social-media-location__social-media {
  background: #afafaf;
  display: flex;
  flex-flow: row wrap; }

.social-media__items {
  flex-grow: 1;
  width: 200px;
  height: 200px; }

.social-media__galeries {
  padding: 20px;
  background: #9b42f4;
  color: white; }

.woman-man__nike-shoes {
  width: 200px;
  height: 200px; }

.social-media__instagram {
  background: #9b42f4;
  color: white;
  padding: 10px; }

.instagram__button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 50px;
  height: 50px;
  transition: background 0.5s, color 0.5s; }
  .instagram__button:hover {
    background: white;
    color: #9b42f4; }

.social-media-location__location {
  background: #ddeeff;
  display: flex;
  flex-direction: column; }

.location__san-francisco {
  background: #2e2e30; }

.san-francisco__img {
  width: 400px; }

.location__desc {
  background: #2e2e30;
  color: white;
  flex-grow: 1;
  padding: 10px; }

.newsletter {
  background: #dbdde0;
  padding: 50px 10px 50px 10px; }

.newsletter__text {
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  width: 500px; }

.newsletter__text__input {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 30px; }

.input__input {
  border: 1px solid white;
  width: 200px;
  height: 30px;
  transition: border-color 0.5s; }
  .input__input:focus {
    border-color: black; }

.input__button {
  background: white;
  border: 0;
  width: 30px;
  height: 30px;
  transition: background 0.5s, color 0.5s; }
  .input__button:hover {
    background: black;
    color: white; }

.hurry-up {
  text-align: center; }

.hurry-up__paragraph {
  letter-spacing: 15px; }

.footer {
  background: #3b3c3d;
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  width: 940px; }

.footer__divs {
  width: 200px; }

.footer__logo {
  padding-top: 50px; }

.nike-logo-white {
  width: 100px; }

.footer__divs__list {
  font-size: 10px;
  list-style-type: none;
  margin: 20px; }

.divs__list-link {
  color: white;
  text-decoration: none; }
  .divs__list-link:hover {
    color: #c9e4ff; }
